<section id="apply" class="apply-section">
    <div class="container">
        <div class="content-wrapper-apply-split">
            <!-- Відео -->
            <div class="apply-video">
                <video autoplay loop muted>
                    <source src="/img/apply/Video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <!-- Форма -->
            <div class="apply-form-wrapper">
                <h2>Apply for a Position</h2>
                <form id="applyForm">
                    <div class="form-group">
                        <label for="jobPosition">Job Name Position</label>
                        <input type="text" id="jobPosition" name="jobPosition" placeholder="Enter the position" required>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="cv">Upload Your CV</label>
                        <input type="file" id="cv" name="cv" accept=".pdf,.doc,.docx" required>
                        <label for="cv" class="file-upload-label">
                            <i class="icon-folder"></i> Choose File
                        </label>
                        <p id="fileNameDisplay" class="file-name-display">No file selected</p> <!-- Елемент для імені файлу -->
                    </div>
                    <button type="submit" class="apply-button">Apply</button>
                </form>
            </div>
        </div>
    </div>
</section>