<footer id="contacts" class="footer">
  <div class="container">
    <div class="column">
      <h4>Follow Us</h4>
      <p>Stay updated with our latest news and updates.</p>
      <ul class="social">
        <li><a href="https://www.linkedin.com/company/105715938" class="social-link">
          <svg class="social-icon">
            <use href="/img/icons.svg#icon-linkedin"></use>
          </svg>
        </a></li>
        <li><a href="https://www.instagram.com/yacht_job/" class="social-link">
          <svg class="social-icon">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Quick Links</h4>
      <ul class="quick-links">
        <li><a href="#about">About Us</a></li>
        <li><a href="#jobs">Jobs</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Contact Us</h4>
      <p>If you have any questions, feel free to reach out to us!</p>
      <p><a href="mailto:contact@ypojrecruitment.com" class="contact-link">contact@ypojrecruitment.com</a></p>
    </div>
  </div>
</footer>
