<footer class="footer">
  <div class="container">
    <div class="column">
      <h4>About Us</h4>
      <p>Creative solutions with passion.</p>
    </div>
    <div class="column">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Stay Connected</h4>
      <div class="subscribe">
        <input type="email" placeholder="Enter your email">
        <button>Subscribe</button>
      </div>
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>