<header class="header">
  <div class="container">
    <a class="header-logo" href="https://yachtsypoj.com/">YPOJ</a>
    <nav class="nav-links" id="nav-links">
      <a class="menu-name" href="#about">About Us</a>
      <a class="menu-name" href="#jobs">Jobs</a>
      <a class="menu-name" href="#crew">Find a Crew</a>
      <a class="menu-name" href="#contacts">Contacts</a>
    </nav>
    <div class="burger-menu" id="burger-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <a class="mobile-logo" href="https://yachtsypoj.com/">YPOJ</a> <!-- Мобільний логотип -->
  </div>
</header>
